<h1 class="text-center"> Log In </h1>

<% props = {
  id: resource.id,
  email: resource.email,
  userType: 'user',
  csrfToken: csrf_token
} %>

<%= react_component("SignIn", props: props, prerender: false) %>
